{% extends 'blogs/basic_design.html' %}
{% load my_tags %}
{% block title %}Мы пишем{% endblock %}

{% block header %}
{% include 'blogs/includes/header_menu.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore Блог</h1>
    <p class="lead">Мы пишем статьи на разнообразные темы, также ждём ваших статей!</p>
    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blogs:article_form'%}">Создать</a>
</div>
{% endblock %}

{% block content %}
    <div class="row text-center">
        {% for article in article_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ article.header }}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-title  pricing-card-title">{{ article.created_at | date:"d M Y"}}<p/>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>- {{ article.content|truncatechars:30 }}</li>
                        </ul>
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blogs:article_detail' article.pk%}">Прочитать</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}