{% extends 'blogs/basic_design.html' %}
{% load my_tags %}

{% block title %}{{ article_delete.header }}{% endblock %}

{% block header %}
{% include 'blogs/includes/header_menu.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ article_delete.header }}</h1>
</div>
{% endblock %}

{% block content %}
<form method="post" action="" class="form-floating">
    {% csrf_token %}
    <div class="row text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h1 class="my-0 font-weight-normal">Вы точно хотите удалить "{{ article_delete.header }}" ?</h1>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3 text-center">
                    <button type="submit" class="btn btn-lg btn-block btn-outline-danger">Подтвердить</button>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blogs:article_list' %}">Отменить</a>
                </ul>
            </div>
        </div>
    </div>
</form>
{% endblock %}