{% extends 'blogs/basic_design.html' %}
{% load my_tags %}

{% block title %}{{ article_detail.header }}{% endblock %}

{% block header %}
{% include 'blogs/includes/header_menu.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ article_detail.header }}</h1>
</div>
{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <img src="{{article_detail.picture | media_filter}}" width="200" height="200">
            <h4 class="my-0 font-weight-normal">Дата создания: {{ article_detail.created_at | date:"d.m.Y" }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>- {{ article_detail.content }}</li>
                <li>- Последнее обновление: {{ article_detail.updated_at | date:"d M Y"}}</li>
                <li>- Количество просмотров: {{ article_detail.number_of_views }}</li>
            </ul>
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blogs:article_update' article_detail.pk%}">Редактировать</a>
            <a class="btn btn-lg btn-block btn-outline-warning" href="{% url 'blogs:article_list' %}">Назад</a>
            <a class="btn btn-lg btn-block btn-outline-danger" href="{% url 'blogs:article_delete' article_detail.pk%}">Удалить</a>
        </div>
    </div>
</div>
{% endblock %}